body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(248, 249, 250);
}

.custom-input {
    height: 40px;
    width: 80%;
}

button {
    height: 40px;
    width: 17%;
}

.custom-spinner {
    position: absolute;
    bottom: -100px;
    left: 350px;
}

.stock-image {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}