body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../img/900.jpg");
    background-size: cover;
    overflow: hidden;
    overflow-y: scroll;
}

.custom-input {
    height: 40px;
    width: 80%;
}

button {
    height: 40px;
    width: 17%;
}

.custom-spinner {
    position: absolute;
    bottom: -100px;
    left: 350px;
}

.stock-image {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.marquee {
    width: max-content;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
    height: 30px;
    white-space: nowrap;

    animation: marquee 800s linear infinite;
    background: #ffff;
}

.marquee:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

.marquee-div {
    display: flex;
    height: 30px;
    margin-left: 3px;
}

.spinner {
    display: block;
    position: fixed;
    right: 50%;
}

.yellow {
    background-color:yellow;
}